/* detail.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 80px;
  position: relative; /* 슬라이더와 버튼을 포함하는 컨테이너에 position: relative; 설정 */
}

.movie-slider {
  overflow: hidden;
  text-align: center; /* 텍스트 가운데 정렬 */
}

.movie-slider-container {
  display: flex;
  transition: transform 0.5s ease;
}

.movie-slide {
  flex: 0 0 auto;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex; /* 이미지와 텍스트를 수직 가운데로 정렬하기 위해 flex 속성 추가 */
  justify-content: center; /* 이미지와 텍스트를 수평 가운데로 정렬 */
  align-items: center; /* 이미지와 텍스트를 수직 가운데로 정렬 */
  flex-direction: column;
}

.movie-slide img {
  max-width: 100%; /* 이미지를 슬라이드 컨테이너의 너비에 맞게 조정 */
  height: auto;
}

.movie-slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 30px; /* 버튼 크기 증가 */
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 32px; /* 버튼 텍스트 크기 증가 */
}

.movie-slider-button-left {
  left: 20px; /* 왼쪽 버튼 위치 조정 */
}

.movie-slider-button-right {
  right: 20px; /* 오른쪽 버튼 위치 조정 */
}
